*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(248, 226, 181);
    display: grid;
    place-items: center;
    gap: 20px;
}
header, footer{
    background-color: rgb(254, 204, 75);
    width: 100%;
   padding: 10PX 450PX;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(3, 3, 62);
}
p{
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: rgb(3, 3, 62);
}